.head-image{
  background-image: url('https://firebasestorage.googleapis.com/v0/b/tripty-bot.appspot.com/o/banner2.jpg?alt=media&token=f582caac-0bfd-4068-a137-cb363d4f4021');
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  }

  h1, h2{
      font-weight: bold; /* Peso de la fuente en negrita */
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra de texto para mayor contraste */
  }

