<section class="package" id="package">
  <div class="package-title">
    <h2>Nuestros Paquetes</h2>
  </div>
  <div class="package-content">
    <div class="box">
      <div class="image">
        <img src="assets/photos/excursiones.jpg" alt="">
        <h3>ARS 79,999/-</h3>
      </div>
      <div class="dest-content">
        <div class="location">
          <h4>Bronce</h4>
          <ul class="pac-details">
            <li>Hotel 3 Estrellas</li>
            <li>3 Noches</li>
            <li>Fotos Gratis</li>
            <li>Guía Español e Inglés</li>
            <li>Atención al viajero 24/7</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="box">
      <div class="image">
        <img src="assets/photos/aeropuerto.jpg" alt="">
        <h3>ARS 99,999/-</h3>
      </div>

      <div class="dest-content">
        <div class="location">
          <h4>Plata</h4>
          <ul class="pac-details">
            <li>Hotel 3 Estrellas</li>
            <li>7 Noches</li>
            <li>Fotos Gratis</li>
            <li>Guía Español e Inglés</li>
            <li>Atención al viajero 24/7</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <img src="assets/photos/desayuno.jpg" alt="">
        <h3>ARS 149,999/-</h3>
      </div>

      <div class="dest-content">
        <div class="location">
          <h4>Oro</h4>
          <ul class="pac-details">
            <li>Hotel 4 Estrellas</li>
            <li>10 Noches</li>
            <li>Desayuno y Cena</li>
            <li>Fotos Gratis</li>
            <li>Guía Español e Inglés</li>
            <li>Atención al viajero 24/7</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="box">
      <div class="image">
        <img src="assets/photos/hotel.jpg" alt="">
        <h3>ARS 299,999/-</h3>
      </div>

      <div class="dest-content">
        <div class="location">
          <h4>Platino</h4>
          <ul class="pac-details">
            <li>Hotel 5 Estrellas</li>
            <li>14 Noches</li>
            <li>Desayuno, Almuerzo y Cena</li>
            <li>Fotos Gratis</li>
            <li>Guía Español e Inglés</li>
            <li>Atención al viajero 24/7</li>
          </ul>
        </div>
      </div>
    </div>

  </div>

</section>
