/* TODOS LOS COMPONENTES */
h2{
  font-size: 40px;
  font-weight: 650;
  margin-bottom: 10px;
  line-height: 2;
  text-align: center;
}

.package-content{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.image{
  position: relative;
  transition: all 0.3s cubic-bezier(0.445,0.05,0.55,0.95);
  cursor: pointer;
  filter: brightness(95%);
}

.image img{
  width: 300px;
  height: 500px;
  border-radius: 30px;
}

.image h3{
  color: whitesmoke;
  position: absolute;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  bottom: 10px;
  right: 20px;
}

.dest-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  margin-bottom: 50px;
}

.location h4{
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 2px;
}

.pac-details li{
  font-size: 19px;
  color: #4c4c4c;
  margin-left: 15px;
  margin-bottom: 2px;
  list-style-type: disc;
}

.image:hover{
  filter: brightness(120%);
  transform: scale(1.03);
}
