<section class="container">
  <h2 class="text">Chateá con nuestro Bot</h2>
  <div class="container">
    <div class="center">
      <iframe
        title="chatbot"
        style="border: none"
        srcdoc="<body><script src='https://cdn.botpress.cloud/webchat/v0/inject.js'></script>
          <script>
            window.botpressWebChat.init({
                'botId': '5f327053-3371-4235-a5c5-b3e120338f4b',
                'clientId': '5f327053-3371-4235-a5c5-b3e120338f4b',
                'hostUrl': 'https://cdn.botpress.cloud/webchat/v0',
                'messagingUrl': 'https://messaging.botpress.cloud',
                'botName': 'Tripty',
                'containerWidth': '100%25',
                'layoutWidth': '100%25',
                'hideWidget': true,
                'disableAnimations': true,
                'composerPlaceholder': 'Hablemos',
                'enableConversationDeletion': true,
                'showCloseButton': false,
                'avatarUrl': 'https://firebasestorage.googleapis.com/v0/b/tripty-bot.appspot.com/o/pngwing.com.png?alt=media&token=9189d8ff-2cc8-4c2b-acba-a23215b0924d&_gl=1*l961se*_ga*MTQwNjgyMTU0NS4xNjk2MjgyMDQ3*_ga_CW55HF8NVT*MTY5NjU2MDE2Mi43LjEuMTY5NjU2MTA0OS41OC4wLjA.',

            });

            window.botpressWebChat.onEvent(
                function () {
                    window.botpressWebChat.sendEvent({ type: 'show' });
                },
                ['LIFECYCLE.LOADED']
            );
        </script></body>"
        width="100%"
        height="100%"
      ></iframe>
    </div>
  </div>
</section>
