/* TODOS LOS COMPONENTES */
.text{
  font-size: 40px;
  font-weight: 650;
  margin-bottom: 10px;
  line-height: 2;
  text-align: center;
}

 /* DIV IFRAME */

 .center {
  height: 80vh;
  border-radius: 15px;
  padding: 5px;
  box-sizing: border-box;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


@media only screen and (max-width: 600px) {
  .center {
    height: 40vh;
    border-radius: 15px;
    padding: 5px;
    box-sizing: border-box;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
