<div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col-md-6">
            <div class="card">
                <h5 class="card-header">Destinos Populares</h5>
                <p class="card-text"> Explorá nuestros destinos turísticos populares y descubre la belleza de nuestro
                    país:</p>
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let destino of listaDestinos">{{destino}}</li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <h5 class="card-header">Planificá Tu Viaje</h5>
                <p class="card-text"> Planificá tu aventura con nosotros y disfruta de servicios de alta calidad:</p>
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let servicio of listaServicios">{{servicio}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>