<div class="menu">
    <ul>
      <li><a routerLink="/home">Home</a></li> 
      <li><a routerLink="/destinos">Destinos</a></li>
      <li><a routerLink="/vuelos">Vuelos</a></li>
      <li><a routerLink="/hoteles">Hoteles</a></li>
      <li><a routerLink="/reservas">Reservas</a></li>
    </ul>
  </div>
  <header>
    <h1>Descubre un Paraíso</h1>
    <p>Explora destinos emocionantes con nosotros</p>
</header>
<div class="container">
    <h2>Destinos Populares</h2>
    <p>Explora nuestros destinos turísticos populares y descubre la belleza del mundo:</p>
    <ul>
        <li><a href="#">Playas Exóticas</a></li>
        <li><a href="#">Montañas Escarpadas</a></li>
        <li><a href="#">Ciudades Vibrantes</a></li>
    </ul>
    <h2>Planifica tu Viaje</h2>
    <p>Planifica tu aventura con nosotros y disfruta de servicios de alta calidad:</p>
    <ul>
        <li>Reservas de Hotel</li>
        <li>Paquetes de Viaje Personalizados</li>
        <li>Excursiones Guiadas</li>
    </ul>
    <h2>Contacto</h2>
    <p>¡Estamos aquí para ayudarte a hacer realidad tus sueños de viaje!</p>
    <p>Contáctanos en <a href="mailto:info@ejemplo.com">info@ejemplo.com</a></p>
</div>
  <router-outlet></router-outlet>