<h1 class="title">Destinos - Consultá tu próximo viaje</h1>
<div class="container">
    <div class="card">
        <img src="assets/photos/aconcagua-1000x400.jpg" alt="">
        <h4>Mendoza</h4>
        <p>Noviembre-Diciembre</p>
        <p>Verano 2024</p>
        <a routerLink="/detalle">Leer más...></a>
    </div>
    <div class="card">
        <img src="assets/photos/iguazu.jpg" alt="">
        <h4>Cataratas del iguazu</h4>
        <p>Noviembre-Diciembre</p>
        <a href="DestinosII.html">Leer más...></a>
    </div>
    <div class="card">
        <img src="assets/photos/patagonia.jpg" alt="">
        <h4>Bariloche</h4>
        <p>Noviembre-Diciembre</p>
        <a routerLink="/detalle">Leer más...></a>
    </div>
    <div class="card">
        <img src="assets/photos/salta.jpg" alt="">
        <h4>Salta - Jujuy</h4>
        <p>Diciembre</p>
        <p>Verano 2024</p>
        <a routerLink="/detalle">Leer más...></a>
    </div>
    <div class="card">
        <img src="assets/photos/calafate.jpg" alt="">
        <h4>Calafate</h4>
        <p>Verano 2024</p>
        <a routerLink="/detalle">Leer más...></a>
    </div>
    <div class="card">
        <img src="assets/photos/carlos paz.jpg" alt="">
        <h4>Villa Carlos Paz</h4>
        <p>Diciembre</p>
        <a routerLink="/detalle">Leer más...></a>
    </div>

</div>
