.location-heading h1{
  margin-top: 10px;
  font-size: 60px;
  margin-bottom: 10px;
}

.location-heading h1 span{
  color: lightskyblue;
}

.location-detail h1{
  padding-top: 10px;
  color:lightskyblue;
  font-size: 40px;
}

.location-detail p{
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.location-img img{
  height: 500px;
  margin-top: 30px;
  margin-bottom: 30px;
}


.stars i{
  font-size: 20px;
  color: rgb(197, 167, 44);
}

/* BOTON CHAT */
.boton-flotante {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
