<div class="location-heading">
  <h1>Descubre una <span>Argentina Increíble</span></h1>
</div>
<div class="location-detail">
  <h1>Mendoza</h1>
  <div class="stars">
    <a href="#"><i class='bx bxs-star'></i></a>
    <a href="#"><i class='bx bxs-star'></i></a>
    <a href="#"><i class='bx bxs-star'></i></a>
    <a href="#"><i class='bx bxs-star'></i></a>
    <a href="#"><i class='bx bxs-star'></i></a>
  </div>
  <p>Ciudad de Mendoza es una ciudad del oeste de Argentina y capital de la provincia homónima. Se localiza en la
    llanura al este de la cordillera de los Andes. Es una de las principales ciudades del país, y con su aglomerado
    urbano, denominado Gran Mendoza, alcanza una población total que supera el millón de habitantes.</p>
  <div class="location-img">
    <img loading="lazy" src="assets/photos/mendoza.jpg" alt="">
  </div>
</div>
<div class="location-detail">
  <h1>Salta</h1>
  <div class="stars">
    <a href="#"><i class='bx bxs-star'></i></a>
    <a href="#"><i class='bx bxs-star'></i></a>
    <a href="#"><i class='bx bxs-star'></i></a>
    <a href="#"><i class='bx bxs-star'></i></a>
    <a href="#"><i class='bx bxs-star-half'></i></a>
  </div>
  <p>Salta es una ciudad del noroeste de Argentina, capital de la provincia homónima. Se encuentra ubicada en el
    sector norte del Valle de Lerma. Su superficie aproximada es de 120 km². Es también la ciudad más poblada de la
    provincia, la segunda del NOA y la séptima del país.</p>
  <div class="location-img">
    <img loading="lazy" src="assets/photos/salta.jpg" alt="">
  </div>
</div>
<div class="location-detail">
  <h1>Córdoba</h1>
  <div class="stars">
    <a href="#"><i class='bx bxs-star'></i></a>
    <a href="#"><i class='bx bxs-star'></i></a>
    <a href="#"><i class='bx bxs-star'></i></a>
    <a href="#"><i class='bx bxs-star'></i></a>
    <a href="#"><i class='bx bxs-star-half'></i></a>
  </div>
  <p>Su capital es la ciudad homónima. Con 165.321 km² de extensión, es la quinta provincia más extensa del país,
    ocupando el 5,94% de su superficie total. Según el censo nacional 2010 su población es de 3.308.876 habitantes,
    con lo cual es la segunda provincia más poblada de la República Argentina.</p>
  <div class="location-img">
    <img loading="lazy" src="assets/photos/carlospaz.jpg" alt="">
  </div>
</div>
<div class="location-detail">
  <h1>Misiones</h1>
  <div class="stars">
    <a href="#"><i class='bx bxs-star'></i></a>
    <a href="#"><i class='bx bxs-star'></i></a>
    <a href="#"><i class='bx bxs-star'></i></a>
    <a href="#"><i class='bx bxs-star'></i></a>
    <a href="#"><i class='bx bxs-star-half'></i></a>
  </div>
  <p>Tiene una superficie de 29.801 Km2, se divide en 17 departamentos y cuenta con una población que alcanza
    1.097.829 habitantes, según el último censo del año 2010. La capital de la provincia es la ciudad de Posadas y
    está habitada por 323.739 personas.</p>
  <div class="location-img">
    <img loading="lazy" src="assets/photos/cataratas.jpeg" alt="">
  </div>
</div>
<div class="location-detail">
  <h1>Bariloche</h1>
  <div class="stars">
    <a href="#"><i class='bx bxs-star'></i></a>
    <a href="#"><i class='bx bxs-star'></i></a>
    <a href="#"><i class='bx bxs-star'></i></a>
    <a href="#"><i class='bx bxs-star'></i></a>
    <a href="#"><i class='bx bxs-star'></i></a>
  </div>
  <p>La ciudad de San Carlos de Bariloche está ubicada hacia el lado occidental de la provincia de Río Negro. Es una
    de las ciudades argentinas más poblada de los Andes Patagónicos. Cuenta con una población de 108.250 habitantes y
    se destaca, por su magnitud y ubicación geográfica, como un centro urbano de relevancia.</p>
  <div class="location-img">
    <img loading="lazy" src="assets/photos/bariloche.jpeg" alt="">
  </div>
</div>
<div class="location-detail">
  <h1>Calafate</h1>
  <div class="stars">
    <a href="#"><i class='bx bxs-star'></i></a>
    <a href="#"><i class='bx bxs-star'></i></a>
    <a href="#"><i class='bx bxs-star'></i></a>
    <a href="#"><i class='bx bxs-star-half'></i></a>
  </div>
  <p>El Calafate, llamado popularmente «Calafate», es una ciudad ubicada en la ribera meridional del lago Argentino,
    en la región de la Patagonia, en la provincia de Santa Cruz, Argentina, a unos 80 km del glaciar Perito Moreno. Es
    la cabecera del departamento Lago Argentino. El Calafate es una de las tres principales ciudades de la provincia
    de Santa Cruz por su población, detrás de las ciudades de Río Gallegos y Caleta Olivia. Se encuentra a unos 320 km
    al noroeste de la capital provincial, Río Gallegos. Debe su notoriedad por ser la puerta de acceso al parque
    nacional Los Glaciares, el cual posee atractivos turísticos como el glaciar Perito Moreno, el glaciar Upsala, y el
    cerro Fitz Roy, entre otros, todos propios de la región oriental del campo de hielo Patagónico Sur y lindantes al
    parque nacional Torres del Paine de Chile.</p>
  <div class="location-img">
    <img loading="lazy" src="assets/photos/calafate.jpg" alt="">
  </div>
</div>
<button class="boton-flotante" (click)="redirigirAlComponenteDelBot()"><img src="assets/icons/chatbot.png" height="90"
    width="90" alt="chatbot" />CHAT</button>
