<h1 class="title">Mirá todo lo que tenemos para ofrecerte!</h1>
<div class="container">
    <div class="card">
        <h4>Mendoza</h4>
        <img src="assets/photos/aconcagua-1000x400.jpg" alt="#">
        <p>Fechas de salidas</p>
        <h6>Noviembre-Diciembre</h6>
        <p>4 días y 3 noches</p>
        <p>Bus Semi-Cama</p>
        <h6>Verano 2024</h6>
        <p>7 dias y 6 noches</p>
        <p>Aereo</p>
        <h6>Hotel Cordon del Plata</h6>
        <p>Excursiones: City Tour/Termas de Cacheuta/Bodegas</p>
        <p>Opcional: Coordinaro turistico</p>
    </div>
    <div class="card">
        <h4>Salta - Jujuy</h4>
        <img src="assets/photos/salta.jpg" alt="#">
        <p>Fechas de salidas</p>
        <h6>Diciembre</h6>
        <p>5 días y 4 noches</p>
        <p>Aereo</p>
        <h6>Verano 2024</h6>
        <p>8 días y 7 noches</p>
        <p>Aereo</p>
        <h6>Hotel Iconico</h6>
        <p>Excursiones: Cafayate con bpdegas/Salinas Grandes/Quebrada de Humahuaca</p>
        <p>Opcional: Coordinaro turistico</p>
    </div>
